In [ ]:
# 【基本运算符】
a = 5
b = 2

# 加减乘法比较容易理解，除法有些复杂
sum = a+b
difference = a-b
product = a*b

# a除以b的准确结果
c = a/b

# a整除b之后的余数，学名modulo
d = a%b

# a整除b之后的商
e = a//b

print(c, d, e)

In [ ]:
# modulo%运算在有负数参与时的运算方式
# (-5) / 4 = -1.25 -> floor(-1.25) = -2
# (-5) % 4 = (-2 × 4 + 3) % 4 = 3.
a = -5
b = 4
c = a%b
c

In [ ]:
# 【比较运算】
a = 5
b = 2
print(a == b)
print(a < b)
print(a > b)

False
False
True

In [ ]:
# 【+= type 运算符】
# a += b  <=> a = a+b
# a -= b  <=> a = a-b
# a *= b  <=> a = a*b
# a /= b  <=> a = a/b
# a %= b  <=> a = a%b
# a //= b  <=> a = a//b

In [ ]:
# 【for loop】
# 示例一： 已知应该循环n次时
# 需要注意 range(n) 给出的 i 取值为 0,1,...,n-1
n = 10
for i in range(n):
  print(i)

In [5]:
# 需要注意循环次数取决于range()内表达式的值，之后不再产生变化，不会影响循环次数
n = 5
for i in range(n): # 在取出n值为5后，range(5) 即等效于 [0,1,2,3,4]，不再与n有任何关系
  n += 1
  print(f'n is {n}')
  print(f'i is {i}')
  print('-'*5)

n is 6
i is 0
-----
n is 7
i is 1
-----
n is 8
i is 2
-----
n is 9
i is 3
-----
n is 10
i is 4
-----

In [ ]:
# 示例二： 对一个列表里的每一个进行操作
list_a = [1,2,3,4,5,6,7,8,9,10]
for num in list_a:
  print(num)

In [ ]:
# 【Python tricks： 一行内使用for loop】
list_a = [i+5 for i in range(5) if i%2 == 0]
# 一行可以拆分成四行，大致逻辑分为三块：循环，判断条件，生成结果并放入列表
list_a = []
for i in range(5):
  if i%2==0:
    list_a.append(i+5)

In [ ]:
# 【while loop】
# while loop特点为只要while后面的条件为True则会一直运行（break将在后面讲解）
# 所以尽量不要使用while True的loop，会卡死程序
n = 10
while n>0:
  print(n)
  n -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 【break 和 continue】
# break 可以使得本层循环结束，直接执行循环之后的代码
for i in range(10):
  print(i)
  if i == 6:
    break # 如果i是6，循环结束，不玩了

In [ ]:
# continue 为结束本次循环，跳过循环体内未执行的代码，直接执行下一次循环
for i in range(4):
  if i == 2: continue # 如果i是2的时候，跳过后面的代码直接进入i=3的循环
  print(i)

In [ ]:
# 【作业一】使用for loop生成一个列表，内容为[1,2,3,...,100]

In [ ]:
# 【作业二】班主任有一个班上所有人名字的列表，但是首字母忘记大写了。现在使用一个for loop把列表里每一个人名首字母都大写。
# names = ["alice", "bob", "carpenter", "david", "eva", "forbes"]
# new_names = ["Alice", "Bob", "Carpenter", "David", "Eva", "Forbes"]
# 小知识：大小写字母转换可以使用upper()和lower()方法:
char_a = 'a'
char_b = 'B'
a_upper = char_a.upper()
b_lower = char_b.lower()
a_upper, b_lower

('A', 'b')

In [ ]:
# 小提示，此处需对列表里的每一个进行操作，参考for loop的示例二
names = ["alice", "bob", "carpenter", "david", "eva", "forbes"]

['Alice', 'Bob', 'Carpenter', 'David', 'Eva', 'Forbes']

In [ ]:
# 【作业三】使用while loop生成一个列表，内容为100到0的所有偶数：[100,98,96,...,4,2,0]

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [ ]:
# 【作业四】leetcode经典入门题目https://leetcode.com/problems/two-sum/